@use 'sass:meta';
@use 'sass:map';

// === breakpoint ===
$breakpoints: (
  mobile: 720px,
  tablet: 1030px,
);

@mixin breakpoint($breakpoint) {
  @if meta.type-of($breakpoint) == 'string' {
    @media screen and (max-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else if meta.type-of($breakpoint) == 'number' {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }
}

// === flexbox ===
@mixin flexbox($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
