@use 'reset.scss';

html {
  font-family: inter, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: inter;
  src: url('/src/assets/fonts/inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// * {
//   outline: 2px solid #99000030;
// }
