.nav {
  ul {
    gap: 20px;
    list-style: none;

    @include flexbox;

    li a {
      text-decoration: none;
      color: inherit;
      transition: 0.3s color ease-in-out;

      &:hover {
        color: $color-primary;
      }
    }
  }
}
