.wrapper {
  margin-bottom: 50px;

  .productContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;

    .loading {
      @include flexbox;
    }

    .swiper {
      border: 2px solid $color-border;
      border-radius: 0.8rem;
    }

    .productInfo {
      border: 2px solid $color-border;
      padding: 20px;
      border-radius: 0.8rem;
      display: grid;
      gap: 0.5rem;

      & > * {
        align-self: center;
      }

      & > a {
        width: fit-content;
      }
    }
  }
}
