.wrapper {
  margin-bottom: 50px;

  .productContent {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;

    .swiper {
      border: 2px solid $color-border;
      max-width: 700px;
      width: 100%;
      overflow: hidden;

      .imageWrapper {
        overflow: hidden;
        max-width: 400px;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .productInfo {
      border: 2px solid $color-border;
      padding: 20px;
      border-radius: 0.8rem;
    }
  }
}
