.wrapper {
  margin-bottom: 60px;
  min-height: 100vh;

  .filters {
    margin: 20px 0;
  }

  .list {
    padding: 40px 0;
    border-top: 2px solid $color-border;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 386.66px));
    justify-content: center;
    gap: 20px;

    .empty {
      width: max-content;
    }

    li {
      list-style: none;
    }
  }
}
