.imageWrapper {
  overflow: hidden;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiperGallery {
  width: 100%;
  max-height: 500px;

  .imageGalleryWrapper {
    overflow: hidden;
    width: 100%;
    max-height: 500px;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
