.wrapper {
  margin-bottom: 60px;

  .content {
    margin-top: 35px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 386.66px));
    justify-content: center;
    gap: 20px;
  }

  .title {
    @include flexbox($justify: space-between);
  }
}
