.wrapper {
  min-height: 80vh;

  @include flexbox;

  .container {
    gap: 20px;

    @include flexbox($direction: column);

    .form {
      border: 2px solid $color-border;
      border-radius: 1rem;
      padding: 30px;
      display: grid;
      gap: 10px;
      max-width: 550px;
      width: 100%;

      input {
        border: 2px solid $color-border;
        border-radius: 1rem;
        padding: 5px 8px;
        outline: none;

        &:focus {
          border: 2px solid transparent;
          outline: 2px solid $color-primary;
        }
      }
    }

    .separator {
      border: 1px solid $color-border;
      height: 20px;
    }

    .googleAuth {
      gap: 15px;

      @include flexbox;
    }
  }
}
