.header {
    border-bottom: 2px solid #ccc;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 10px 0;

    .logo {
        font-size: 48px;
        font-weight: bold;
    }
}
