.header {
  border-bottom: 2px solid $color-border;
  margin-bottom: 50px;
  padding: 10px 0;

  .container {
    @include flexbox(space-between);

    .logo {
      font-size: 48px;
      font-weight: bold;
    }
  }
}
