.wrapper {
  padding: 40px 0;
}

.block {
  margin-bottom: 32px;

  & > *:not(:last-child) {
    margin-bottom: 16px;
  }
}

.list {
  padding-left: 20px;
  margin-top: 16px;

  li {
    margin-bottom: 12px;
  }
}

.actions {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}
