.wrapper {
  border: 2px solid $color-border;
  border-radius: 1rem;
  position: relative;

  &.vertical {
    height: 100%;
    padding: 15px 15px 25px;

    .buttons {
      position: absolute;
      top: 10px;
      right: 10px;

      & > :first-child {
        margin-right: 8px;
      }
    }

    .imageWrapper {
      overflow: hidden;
      aspect-ratio: 1/1;
      margin-bottom: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .title {
      border-top: 2px solid $color-border;
      padding: 8px 0;
    }
  }

  &.horizontal {
    padding: 15px 20px;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;

    & > * {
      place-self: center center;
    }

    .linkImage {
      width: 150px;
      height: 100px;

      .imageWrapper {
        overflow: hidden;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        .skeleton {
          height: 100px;
          width: 150px;
          border: 2px solid $color-border;
          border-radius: 1rem;

          @include flexbox;
        }
      }
    }

    .buttons {
      & > :first-child {
        margin-right: 8px;
      }
    }
  }

  .linkTitle {
    height: fit-content;
    width: fit-content;
  }
}
