.button {
  border: 2px solid $color-border;
  background-color: $color-primary;
  padding: 10px 15px;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: $color-primary-hover;
  }

  &:active {
    transform: scale(0.975);
    transition: none;
  }
}
