.wrapper {
  margin-bottom: 60px;
  min-height: 100vh;

  .list {
    margin-top: 30px;
    padding: 0;
    display: grid;
    gap: 20px;

    & > * {
      list-style: none;
    }
  }

  .pagination {
    margin-top: 20px;
  }
}
